<section>
    <div class="container">
        <div class="row row1">
            <div class="size col-4">
                <i class="fas fa-phone-alt c-white"></i>
                <span class="c-white">+90 (536)3378127</span>
            </div>
            <div class="col-4 size-2">
                <i class="fab fa-telegram-plane c-white ml-60"></i>
                <span class="c-white ">vetenim2013@mail.ru</span>
            </div>
            <div class="col-4 size-3">
                <a href="#" class="c-white mr-15">KAYDOL</a>
                <a href="#" class="c-white">GIRIS YAP</a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div id="navbar" class="row bg-color">
            <div class="col-3 p-1">
                <h1 class="medi">MEDICAL GROUP COMPANY</h1>
            </div>
            <div class="col-9 p-2 ">
                <a href="{{url_for('home')}}" class="fs ml-200 A1">Ev</a>
                <a href="{{url_for('home')}}" class="fs ml-45 A2">Hakkında</a>
                <a href="{{url_for('home')}}" class="fs ml-45 A3">Bölüm</a>
                <a href="{{url_for('home')}}" class="fs ml-45 A4">Doktorlar</a>
                <a href="{{url_for('home')}}" class="fs ml-45 A5">Blog
                    <a href="#Iletişim" class="fs ml-45 A6">Iletişim
                    </a>
                <a href="#" class="ml-18">
                    <button type="submit" class="l-height">
                        Randevu
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>