* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    width: 100%;
    max-width: 1349px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.row1 {
    background-color: #207DFF;
    height: 33px;
}

.c-white {
    color: #FFFFFF;
}

.c-black {
    color: black;
}

.size {
    padding: 10px 120px;
}

.size-2 {
    padding: 10px 0;
}

a {
    text-decoration: none;
}

.size-3 {
    padding: 10px 144px;
}

.mr-15 {
    margin-right: 15px;
}

.ml-60 {
    margin-left: 60;
}

.ml-45 {
    margin-left: 45px;
}

.ml-149 {
    margin-left: 149px;
}

.ml-100 {
    margin-left: 100px;
    margin-top: 25px;
}

.bg-color {
    background-color: #E3E3E4;
}

.color-red {
    color: red
}

h2 {
    margin: 0;
    padding: 70px 0 0 0;
    font-size: 55px;
    width: 40%;
    color: black;
}

.p-absalute {
    position: absolute;
}

ul {
    list-style: none;
    position: absolute;
}

.p {
    padding: 0px 65px;
    cursor: pointer;
}

.p-2 {
    padding: 21px 0;
    position: relative;
}

h1 {
    margin: 0;
    margin-left: 55px;
}

.fs {
    font-size: 16px;
}

.ull {
    position: absolute;
    background-color: white;
    opacity: 0;
    display: inline-block;
    z-index: -1;
    margin-top: 28px;
    margin-bottom: 0;
    transition: all 0.5s ease 0s;
    width: 15%;
    left: 216px;
    padding: 0;
}

.b {
    position: absolute;
    background-color: white;
    opacity: 0;
    display: inline-block;
    z-index: -1;
    margin-top: 28px;
    margin-bottom: 0;
    transition: all 0.5s ease 0s;
    width: 15%;
    padding: 0;
    right: 248px;
}

.c {
    position: absolute;
    background-color: white;
    opacity: 0;
    display: inline-block;
    z-index: -1;
    margin-top: 28px;
    margin-bottom: 0;
    transition: all 0.5s ease 0s;
    width: 15%;
    padding: 0;
    right: 329px;
}

.ull li {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 15px;
    color: #232F55;
}

.b li {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 15px;
    color: #232F55;
}

.c li {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 15px;
    color: #232F55;
}

.col-9 a:nth-child(2):hover .ull {
    z-index: 1;
    opacity: 1;
    transition: all 0.5s ease 0s;
}

.col-9 a:nth-child(6):hover .b {
    z-index: 2;
    opacity: 1;
    transition: all 0.5s ease 0s;
}

.col-9 a:nth-child(5):hover .c {
    z-index: 2;
    opacity: 1;
    transition: all 0.5s ease 0s;
}

.color-00002A::before {
    content: '';
    position: absolute;
    top: 59%;
    left: 14%;
    right: 83%;
    bottom: 40%;
    background-color: #207DFF;
    transform: scaleX(0);
    transform-origin: 50% 50%;
    transition: all 0.8s ease-out 0s;
    z-index: 1;
}

.color-00002A {
    color: #00002A;
    z-index: 1;
}

.color-00002A:hover::before {
    transform: scale(1);
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.3, 0.6);
}

.A2::before {
    content: '';
    position: absolute;
    top: 59%;
    left: 21%;
    right: 72%;
    bottom: 40%;
    background-color: #207DFF;
    transform: scaleX(0);
    transform-origin: 50% 50%;
    transition: all 0.8s ease-out 0s;
    z-index: 1;
}

.A2 {
    color: #00002A;
    z-index: 1;
}

.A2:hover::before {
    transform: scale(1);
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.3, 0.6);
}

.A3::before {
    content: '';
    position: absolute;
    top: 59%;
    left: 32%;
    right: 63%;
    bottom: 40%;
    background-color: #207DFF;
    transform: scaleX(0);
    transform-origin: 50% 50%;
    transition: all 0.8s ease-out 0s;
    z-index: 1;
}

.A3 {
    color: #00002A;
    z-index: 1;
}

.A3:hover::before {
    transform: scale(1);
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.3, 0.6);
}

.A4::before {
    content: '';
    position: absolute;
    top: 59%;
    left: 41%;
    right: 52%;
    bottom: 40%;
    background-color: #207DFF;
    transform: scaleX(0);
    transform-origin: 50% 50%;
    transition: all 0.8s ease-out 0s;
    z-index: 1;
}

.A4 {
    color: #00002A;
    z-index: 1;
}

.A4:hover::before {
    transform: scale(1);
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.3, 0.6);
}

.A5::before {
    content: '';
    position: absolute;
    top: 59%;
    left: 52%;
    right: 44%;
    bottom: 40%;
    background-color: #207DFF;
    transform: scaleX(0);
    transform-origin: 50% 50%;
    transition: all 0.8s ease-out 0s;
    z-index: 1;
}

.A5 {
    color: #00002A;
    z-index: 1;
}

.A5:hover::before {
    transform: scale(1);
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.3, 0.6);
}

.A6::before {
    content: '';
    position: absolute;
    top: 59%;
    left: 60%;
    right: 34%;
    bottom: 40%;
    background-color: #207DFF;
    transform: scaleX(0);
    transform-origin: 50% 50%;
    transition: all 0.8s ease-out 0s;
    z-index: 1;
}

.A6 {
    color: #00002A;
    z-index: 1;
}

.A6:hover::before {
    transform: scale(1);
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.3, 0.6);
}

.h-1000 {
    height: 1000px;
}

.l-height {
    Font-size: 18px;
    Font-weight: 400;
    Line-height: 21.6px;
    background-color: #FE5F55;
    margin-left: 40px;
    color: white;
    border-radius: 8px;
    height: 40px;
    width: 130px;
    cursor: pointer;
    border: none;
    outline: none;
}

.l-height:hover {
    background-color: #207DFF;
}

.img-1 {
    height: 100%;
    width: 100%;
    Font-size: 17px;
    Font-weight: 400;
    Line-height: 30.6px;
    object-fit: cover;
}

.absalute {
    position: absolute;
    top: 150px;
    left: 120px;
}

.relative {
    position: relative;
}

.d-block {
    width: 40%;
    display: block;
    color: #836465;
    margin: 35px 0 30px 0;
    font-size: 20px;
}

.randevu {
    Font-size: 18px;
    Font-weight: 400;
    Line-height: 21.6px;
    background-color: #207DFE;
    color: white;
    border-radius: 35px;
    height: 50px;
    width: 138px;
    cursor: pointer;
    border: none;
    outline: none;
}

.randevu-2 {
    Font-size: 18px;
    Font-weight: 400;
    Line-height: 21.6px;
    background-color: #E2544C;
    color: white;
    border-radius: 35px;
    height: 50px;
    width: 138px;
    cursor: pointer;
    border: 1px solid #E2544C;
    outline: none;
}

.randevu-2:hover {
    background-color: white;
    color: #FE5F55;
    transition: all 0.1s ease 0s;
}

.figure-img {
    width: 100%;
    Font-size: 17px;
    Font-weight: 400;
    Line-height: 30.6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 115px;
}

.img-2 {
    width: 445px;
    height: 620px;
    object-fit: cover;
}

.d-flex {
    display: flex;
}

.color-1E73EB {
    color: #1E73EB;
    font-size: 30px;
}

.color-99A5C2 {
    color: #99A5C2;
    display: block;
    width: 55%;
    margin-left: 98px;
    margin-top: 44px;
    Font-size: 17px;
    Font-weight: 400;
    Line-height: 30.6px;
}

.fs-25 {
    font-size: 44px;
    display: block;
    font-weight: 700;
    width: 55%;
    margin-left: 98px;
    margin-top: 154px;
}

.sign::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #CF0F0F;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: all 0.8s ease-out 0s;
    z-index: -1;
}

.p-left121 {
    padding-left: 121px;
    padding-top: 130px;
    margin-right: -111px;
}

.ico {
    Font-size: 50px;
    Font-weight: 400;
    Line-height: 65px;
    color: #FD655C;
    margin-top: 97px;
}

.hizmet {
    Font-size: 44px;
    Font-weight: 700;
    Line-height: 52.8px;
}

.color1F1F1F {
    color: #1F1F1F;
    font-weight: 500;
    margin: 90px 25px;
    width: 30%;
    font-size: 25px;
}

.duden1 {
    width: 37%;
    margin: 127px 0px 0px -160px;
    color: #9999A5;
    line-height: 25.8px;
    font-size: 16px;
}

.duden2 {
    width: 37%;
    margin: 127px 0px 0px -232px;
    color: #9999A5;
    line-height: 25.8px;
    font-size: 16px;
}

.duden3 {
    width: 50%;
    margin: 128px 0px 0px -210px;
    color: #9999A5;
    line-height: 25.8px;
    font-size: 16px;
}

.dis {
    color: #1F1F1F;
    font-weight: 500;
    margin: 87px 25px;
    width: 47%;
    font-size: 25px;
}

.p-t181 {
    padding-top: 181px;
}

.nite {
    color: #1F1F1F;
    font-weight: 500;
    margin: 90px 25px;
    width: 56%;
    font-size: 25px;
}

.ucret {
    color: #207DFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.m-ops {
    margin: 80px 0px 0px 35px;
}

.m-t25 {
    margin-top: 25px;
}

.input {
    border-radius: 35px;
    border: 1px solid #D8D8D8;
    padding: 15px 100px 15px 15px;
    margin-top: 16px;
    outline: none;
}

.bg-F8F9FA {
    background-color: #F8F9FA;
}

.input2 {
    background-color: #E2544C;
    color: white;
    border-radius: 35px;
    padding: 14px 105px 14px 125px;
    cursor: pointer;
    margin-top: 16px;
    border: 1px solid #D8D8D8;
    outline: none;
    text-align: center;
}

.input2:hover {
    background-color: white;
    color: #FE5F55;
    transition: all 0.1s ease 0s;
}

.m-t64 {
    margin-left: 0px;
    margin-top: 64px;
}

.m-t239 {
    height: 771px;
    margin-top: 239px;
}

.imgbg-2 {
    height: 460px;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

.h-460 {
    height: 460px;
}

.h-rel {
    margin: 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-top: 130px;
    font-size: 60px;
    font-weight: 800;
    line-height: 75px;
    color: #FE5F55;
}

.sp-ab {
    position: absolute;
    color: black;
    padding-left: 30%;
    font-size: 17px;
    font-weight: 400;
    line-height: 30.6px;
}

.ara {
    background-color: white;
    color: black;
    position: absolute;
    border-radius: 35px;
    border: none;
    width: 160px;
    height: 58px;
    outline: none;
    cursor: pointer;
    margin-left: 45%;
    margin-top: 3%;
}

.ara:hover {
    background-color: #FE5F55;
    color: white;
}

.h-768 {
    height: 768px;
}

.wh {
    width: 449.61px;
    height: 769px;
}

.fig-4 {
    margin: 0;
}

.img-4 {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.whb {
    width: 300px;
    height: 257px;
    border: 1px solid #E5E5E5;
    display: inline-block;
    margin-right: -5px;
    text-align: center;
    cursor: pointer;
}

.whb:hover {
    background-color: #20A5FF;
    transition: all 1s ease 0s;
}

.mb-51 {
    margin-bottom: -51px;
    text-align: center;
}

.mt-49 {
    margin-top: 49px;
}

.ico2 {
    Font-size: 50px;
    color: #20A5FF;
    margin-top: 30px;
}

.ico2:hover {
    color: white;
    transition: all 1s ease 0s;
}

.ff-Poppins {
    font-family: Poppins, Arial, sans-serif;
    Font-size: 24px;
    Font-weight: 400;
    Line-height: 36px;
    margin: 15px auto;
}

.ff-Poppins:hover {
    color: white;
    transition: all 1s ease 0s;
}

.mwh {
    margin-left: 75px;
    width: 50%;
    height: 40px;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.8;
    color: #999999;
}