<section>
    <div class="container">
        <div class="row bgimg-url3">
            <div class="overlay2">
                <div class="col-2 ">
                    <h2 class="medi mt-100">MEDICAL GROUP COMPANY</h2>
                    <p class="west2">Çok uzakta, dağlar kelimesinin arkasında, ülkelerden çok uzakta.</p>
                    <span class="bos1"><i class="fab fa-twitter twit"></i></span>
                    <span class="bos2"><i class="fab fa-facebook-f face"></i></span>
                    <span class="bos3"><i class="fab fa-instagram ins"></i></span>
                </div>
                <div class="col-7 ml-120">
                    <div>
                        <h2 class="mt-130">Departments</h2>
                        <ul>
                            <li class="nor2">
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </li>
                            <li class="oft2">
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </li>
                            <li class="oft2">
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </li>
                            <li class="oft2">
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </li>
                            <li class="oft2">
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </li>
                            <li class="oft2">
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </li>
                            <li class="oft2">
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </li>
                        </ul>
                        {% for department in departments %}{% if department.id==1 %}
                        <p class="nor">{{department.title}}</p>{% endif %} {% endfor %}{% for department in departments %}{% if department.id==2 %}
                        <p class="oft">{{department.title}}</p>{% endif %} {% endfor %}{% for department in departments %}{% if department.id==3 %}
                        <p class="oft">{{department.title}}</p>{% endif %} {% endfor %}{% for department in departments %}{% if department.id==4 %}
                        <p class="oft">{{department.title}}</p>{% endif %} {% endfor %}{% for department in departments %}{% if department.id==5 %}
                        <p class="oft">{{department.title}}</p>{% endif %} {% endfor %}{% for department in departments %}{% if department.id==6 %}
                        <p class="oft">{{department.title}}</p>{% endif %} {% endfor %}{% for department in departments %}{% if department.id==7 %}
                        <p class="oft">{{department.title}}</p>{% endif %} {% endfor %}
                        <!--Nöroloji Oftalmoloji Nükleer Manyetik Cerrahi Kardiyoloji Diş -->
                    </div>
                    <div class="mw">
                        <h2 class="mt-130">Bağlantılar</h2>
                        <ul>
                            <li class="nor2">
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </li>
                            <li class="oft2">
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </li>
                            <li class="oft2">
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </li>
                            <li class="oft2">
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </li>
                            <li class="oft2">
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </li>
                            <li class="oft2">
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </li>
                        </ul>
                        <p class="nor">Ev</p>
                        <p class="oft">Hakkında</p>
                        <p class="oft">Bölümler</p>
                        <p class="oft">Doktorlar</p>
                        <p class="oft">Blog</p>
                        <p class="oft">İletişim</p>
                    </div>
                    <div class="ml-55">
                        <h2 class="mt-130">Hizmetler</h2>
                        <ul>
                            <li class="nor2">
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </li>
                            <li class="oft2">
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </li>
                            <li class="oft2">
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </li>
                            <li class="oft2">
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </li>
                        </ul>
                        <p class="nor">Acil Servisler</p>
                        <p class="oft">Nitelikli Doktorlar</p>
                        <p class="oft">Dış Mekan Kontrolü</p>
                        <p class="oft">7/24 Saat Hizmet</p>

                    </div>
                </div>
                <div class="col-3 ">
                    <h2 class="mt-130">Sorularınız mı var?</h2>
                    <div class="mt-60">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <p class="fake"> 203 Fake St. Mountain View, San Francisco, California, USA</p>
                    <div>
                        <i class="fas fa-phone-alt c207dff"></i>
                        <span class="ml-25">+90 (536)3378127</span>
                    </div>
                    <div class="mt-25">
                        <i class="fas fa-envelope c207dff"></i>
                        <span class="ml-28">info@yourdomain.com</span>
                    </div>
                </div>
            </div>
            <div class="dmm">
                <p class="copy">Copyright ©2021 All rights reserved | This template is made with</p>
                <i class="fas fa-heart mmm"></i>
                <p class="copy">by</p>
                <p class="copy ml-3">Colorlib</p>
            </div>
        </div>
    </div>
</section>
<script src="../static/js/script.js"></script>