<section>
    <div class="container">
        <div class="row row1">
            <div class="size col-5">
                <i class="fas fa-phone-alt c-white"></i>
                <span class="c-white">+90 (536)3378127</span>
            </div>
            <div class="col-4">
                <p class="med">MEDICAL GROUP COMPANY</p>
            </div>
            <div class="col-3 size-2">
                <i class="fab fa-telegram-plane c-white ml-30"></i>
                <span class="c-white ">vetenim2013@mail.ru</span>
            </div>
        </div>
    </div>
</section>