<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css2/style2.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css2/grid2.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'js2/script.js2') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
    {% extends 'base.html' %} {% block content %}
    <section>
        <div class="container">
            <div id="navbar" class="row bg-color">
                <div class="col-3 p-1">
                    <a href="{{url_for('medical')}}"><h1 class="medi">MEDICAL GROUP COMPANY</h1></a>
                </div>
                <div class="col-9 p-2 ">
                    <a href="{{url_for('home')}}" class="fs ml-200 A1">Ev</a>
                    <a href="{{url_for('home')}}" class="fs ml-45 A2">Hakkında</a>
                    <a href="{{url_for('home')}}" class="fs ml-45 A3">Bölüm</a>
                    <a href="{{url_for('home')}}" class="fs ml-45 A4">Doktorlar</a>
                    <a href="{{url_for('home')}}" class="fs ml-45 A5">Blog
                        <a href="{{url_for('home')}}" class="fs ml-45 A6">Iletişim
                        </a>
                    <a href="{{url_for('randevu')}}" class="ml-18">
                        <button type="submit" class="l-height">
                            Randevu
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="relative">
            <img src="../static/img2/bg_1.jpg" alt="#" class="img-1">
        </div>
        <div class="absalute">
            <h2 class="once">Blog Ayrıntıları</h2>
            <a href="{{url_for('home')}}"><span class="fs-20">Ev ></span></a>
            <span class="fss-20">Blog Single ></span>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-8">{% for note in notes%}
                    <h2 class="bir ml-120">{{note.short_description}}</h2>
                    <p class="lorem ml-120">{{note.description}}</p>
                    <img src="../static/uploads/{{ note.image }}" alt="" class="img-3 ml-120">
                    <p class="lorem ml-120">{{note.description2}}</p>
                    <h2 class="creat ml-120">{{note.short_description2}}</h2>
                    <p class="lorem ml-120">{{note.description3}}</p>
                    <img src="../static/img2/image_4.jpg" alt="" class="img-3 ml-120">
                    <p class="lorem ml-120">{{note.description4}}</p>
                        {% endfor %}
                    <a href="{{url_for('note_list')}}"><button class="btn-2">EDIT</button></a>
                    <!-- <button class="life ml-120 btn">LIFE</button>
                    <button class="life btn-2">SPORT</button>
                    <button class="life btn-2">TEACH</button>
                    <button class="life btn-2">TRAVEL</button> -->
                    <div class="whbm ">
                        <img src="../static/img2/person_1.jpg" alt="" class="img-4 ml-120">
                        <h3 class="georg">George Washington</h3>
                        <p class="ipsum">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!
                        </p>
                    </div>
                    <!-- <h3 class="comment ml-120">6 Yorum</h3> -->
                    <div>
                        <img src="../static/img2/person_1.jpg" alt="" class="img-5 ml-120">
                        <h3 class="john">John Doe</h3>
                        <p class="nisan">NISAN 19, 2021 AT 1:55</p>
                        <p class="lorem2 ml-120">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                    </div>
                    <!-- <button class="reply ml-120 btn-3">CEVAPLA</button> -->
                    <div class="mt-40 ">
                        <img src="../static/img2/person_1.jpg" alt="" class="img-5 ml-120">
                        <h3 class="john">John Doe</h3>
                        <p class="nisan">NISAN 19, 2021 AT 1:55</p>
                        <p class="lorem2 ml-120">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                    </div>
                    <!-- <button class="reply ml-120 btn-3">CEVAPLA</button> -->
                    <div class="mt-40 ml-40">
                        <img src="../static/img2/person_1.jpg" alt="" class="img-5 ml-120">
                        <h3 class="john">John Doe</h3>
                        <p class="nisan">NISAN 19, 2021 AT 1:55</p>
                        <p class="lorem2 ml-120">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                    </div>
                    <!-- <button class="reply2 btn-3">CEVAPLA</button> -->
                    <div class="mt-40 ml-80">
                        <img src="../static/img2/person_1.jpg" alt="" class="img-5 ml-120">
                        <h3 class="john">John Doe</h3>
                        <p class="nisan">NISAN 19, 2021 AT 1:55</p>
                        <p class="lorem2 ml-120">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                    </div>
                    <!-- <button class="reply3 btn-3">CEVAPLA</button> -->
                    <div class="mt-80">
                        <img src="../static/img2/person_1.jpg" alt="" class="img-5 ml-120">
                        <h3 class="john">John Doe</h3>
                        <p class="nisan">NISAN 19, 2021 AT 1:55</p>
                        <p class="lorem2 ml-120">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                    </div>
                    <!-- <button class="reply ml-120 btn-3">CEVAPLA</button> -->
                    <div class="mt-80">
                        {% for addcomment in addcomments %}
                        <img src="../static/uploads/{{ addcomment.image }}" alt="" class="img-5 ml-120">
                        <h3 class="john">{{ addcomment.name }}</h3>
                        <p class="nisan">{{ addcomment.date_time }}</p>
                        <p class="lorem2 ml-120">{{ addcomment.description }}</p>
                        {% endfor %}
                    </div>
                    <!-- <button class="reply ml-120 btn-3">CEVAPLA</button> -->
                </div>
                <div class="col-4">
                    <div class="wh-3">
                        <form action="#">
                            <input type="#" class="anah" placeholder="Bir anahtar kelime yazın ve enter tuşuna basın">
                            <i class="fas fa-search search"></i>
                        </form>
                    </div>
                    <div class="wh-4">
                        <a href="{{url_for('department_list')}}"><h2 class="kategori">Edit Kategoriler</h2></a>
                        {% for department in departments %}{% if department.id==1 %}
                        <p class="oftal">{{department.title}}</p>
                        <!-- <span class="twen">(12)</span> -->
                        <span class="wdhb"></span>
                        {% endif %} {% endfor %}{% for department in departments %}{% if department.id==2 %}
                        <p class="oftal">{{department.title}}</p>
                        <!-- <span class="tosr">(23)</span> -->
                        <span class="wdhb"></span>
                        {% endif %} {% endfor %}{% for department in departments %}{% if department.id==3 %}
                        <p class="oftal">{{department.title}}</p>
                        <!-- <span class="twen">(37)</span> -->
                        <span class="wdhb"></span>
                        {% endif %} {% endfor %}{% for department in departments %}{% if department.id==4 %}
                        <p class="oftal">{{department.title}}</p>
                        <!-- <span class="fotu">(35)</span> -->
                        <span class="wdhb"></span>
                        {% endif %} {% endfor %}{% for department in departments %}{% if department.id==5 %}
                        <p class="oftal">{{department.title}}</p>
                        <!-- <span class="tosr">(42)</span> -->
                        <span class="wdhb"></span>
                        {% endif %} {% endfor %}{% for department in departments %}{% if department.id==6 %}
                        <p class="oftal">{{department.title}}</p>
                        <!-- <span class="tosr">(42)</span> -->
                        <span class="wdhb"></span>
                        {% endif %} {% endfor %}{% for department in departments %}{% if department.id==7 %}
                        <p class="oftal">{{department.title}}</p>
                        <!-- <span class="tosr">(42)</span> -->
                        <span class="wdhb"></span>
                        {% endif %} {% endfor %}
                    </div>
                    <div class="wh-5">
                        <a href="{{url_for('blog_list')}}"><h3 class="son">Blog Edit</h3></a>
                        {% for blog in blogs %}{% if blog.id==1 %}
                        <img src="../static/uploads/{{ blog.image }}" alt="" class="image_1">
                        <p class="guclu"> {{blog.short_description}}</p>
                        <i class="fas fa-calendar-alt cal"></i>
                        <p class="may">{{blog.date_time}}</p>
                        <i class="fas fa-user cal-2"></i>
                        <p class="may">YÖNETICI</p>
                        {% endif %} {% endfor %}
                        <!-- <div class="mt-20">
                            <i class="far fa-comment-alt cal"></i>
                            <p class="may">19</p>
                        </div> -->
                    </div>
                    <div class="wh-5">{% for blog in blogs %}{% if blog.id==2 %}
                        <img src="../static/uploads/{{ blog.image }}" alt="" class="image_1">
                        <p class="guclu">{{blog.short_description}}</p>
                        <i class="fas fa-calendar-alt cal"></i>
                        <p class="may">{{blog.date_time}}</p>
                        <i class="fas fa-user cal-2"></i>
                        <p class="may">YÖNETICI</p>
                        {% endif %} {% endfor %}
                        <!-- <div class="mt-20">
                            <i class="far fa-comment-alt cal"></i>
                            <p class="may">19</p>
                        </div> -->
                    </div>
                    <div class="wh-5">
                        {% for blog in blogs %}{% if blog.id==3 %}
                        <img src="../static/uploads/{{ blog.image }}" alt="" class="image_1">
                        <p class="guclu">{{blog.short_description}}</p>
                        <i class="fas fa-calendar-alt cal"></i>
                        <p class="may">{{blog.date_time}}</p>
                        <i class="fas fa-user cal-2"></i>
                        <p class="may">YÖNETICI</p>
                        {% endif %} {% endfor %}
                        <!-- <div class="mt-20">
                            <i class="far fa-comment-alt cal"></i>
                            <p class="may">19</p>
                        </div> -->
                    </div>
                    <div class="w-75">
                        <p class="etik">Etiket Bulutu</p>
                        <button class="btn-4 ml25">EV</button>
                        <button class="btn-4">EV</button>
                        <button class="btn-5">KIRA</button>
                        <button class="btn-5">SATIŞ</button>
                        <button class="btn-5">MASA</button>
                        <button class="btn-4">IÇ</button>
                        <button class="btn-4 dis">DIŞ</button>
                        <button class="btn-6">SANAYİ</button>
                    </div>
                    <div>
                        <p class="etik">Paragraf</p>
                        <p class="amet">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem requireditatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 h-900">
                    <p class="yorum">Yorum Yap</p>
                    <div class="wh-2">
                        <form action="" method="POST" enctype="multipart/form-data" >
                            <input type="text" name='user-name' placeholder="Fullname" class="input3 m-t25">
                            <input type="text" name="user-datetime" placeholder="Date" class="input3 ">
                            <textarea type="text" name='user-description' placeholder="Comment" class="input33"></textarea>
                            <div class="form-group">
                                <input type="file" class="form-control mt-16" name="image">
                            </div>
                           <button type="submit" class="input4">Mesaj Gönder
                           </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div>
        <a href="{{url_for('department_list')}}"><button type="submit" class="input-4">Edit-Departments</button></a>
    </div>
    {% endblock %}
</body>
</html>