<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/grid.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='js/script.js') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>


<body>
    {% extends 'base.html' %} {% block content %}
    <section>
        <div class="container">
            <div id="navbar" class="row bg-color">
                <div class="col-3 p-1">
                    <h1 class="medi">MEDICAL GROUP COMPANY</h1>
                </div>
                <div class="col-9 p-2 ">
                    <a href="#" class="fs ml-200 A1">Ev</a>
                    <a href="#Hakkında" class="fs ml-45 A2">Hakkında</a>
                    <a href="#Bölüm" class="fs ml-45 A3">Bölüm</a>
                    <a href="#Doktorlar" class="fs ml-45 A4">Doktorlar</a>
                    <a href="#Blog" class="fs ml-45 A5">Blog
                        <a href="#Iletişim" class="fs ml-45 A6">Iletişim
                        </a>
                    <a href="{{url_for('randevu')}}" class="ml-18">
                        <button type="submit" class="l-height">
                            Randevu
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="Ev">
        <div class="relative h-689">
            <img src="../static/img/bg_3.jpg" alt="#" class="img-1">
        </div>
        <div class="absalute">
            <span class="color-red">MEDİCAL GROUP COMPANY'E HOŞ GELDİNİZ</span>
            <h2 class="once">Önceliğimiz Sizin Sağlığınızdır</h2>
            <span class="d-block">Çok uzakta,dağlar kelimesinin arkasında,Vokalia ve Consonantia ülkelerinden uzakta, kör metinler yaşıyor.Ayrılmışlar Bookmarksgrove'da yaşıyorlar.</span>
            <a href="{{url_for('randevu')}}"><button type="submit" class="randevu">Randevu al</button></a>
        </div>
    </section>
    <section id="Hakkında">
        <div class="container">
            <div class="row ">
                <div class="d-flex">
                    <div class="col-5 d-flex">
                        <figure class="figure-img">
                            <img src="../static/img/about.jpg" alt="#" class="img-2">
                        </figure>
                    </div>
                    <div class="col-7">
                        <span class="fs-25">Biz <span class="color-1E73EB"> Medical Group Company</span> Bir Tıp Kliniğiyiz</span>
                        <span class="color-99A5C2">Düden adlı küçük bir nehir yerlerinden akar ve ona gerekli regeliali sağlar. Cümlenin kavrulmuş kısımlarının ağzınıza uçtuğu paradisematik bir ülkedir. Cümlenin kavrulmuş kısımlarının ağzınıza uçtuğu paradisematik bir ülkedir.</span>
                        <a href="{{url_for('randevu')}}"><button class="randevu ml-100">Randevu al</button></a>
                        <button class="randevu-2">Bize Ulaşın</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="header">
            <div class="row">
                <div class="col-5 bg-F8F9FA p-left121">
                    <span class="hizmet">Hizmetlerimiz</span>
                    <div class="d-flex">
                        <i class="fas fa-ambulance ico"></i>
                        <h3 class="color1F1F1F">Acil Servis</h3>
                        <span class="duden1">Düden adlı küçük bir nehir yerlerinden akar ve ona gerekli regeliali sağlar.</span>
                    </div>
                    <div class="d-flex">
                        <i class="fas fa-stethoscope ico"></i>
                        <h3 class="dis">Dış Mekan Kontrolü</h3>
                        <span class="duden2">Düden adlı küçük bir nehir yerlerinden akar ve ona gerekli regeliali sağlar.</span>
                    </div>
                </div>
                <div class="col-3 bg-F8F9FA p-t181">
                    <div class="d-flex">
                        <i class="fas fa-user-md ico"></i>
                        <h3 class="nite">Nitelikli Doktorlar</h3>
                        <span class="duden3">Düden adlı küçük bir nehir yerlerinden akar ve ona gerekli regeliali sağlar.</span>
                    </div>
                    <div class="d-flex ">
                        <i class="far fa-clock ico"></i>
                        <h3 class="nite">7/24 Saat Hizmet</h3>
                        <span class="duden3">Düden adlı küçük bir nehir yerlerinden akar ve ona gerekli regeliali sağlar.</span>
                    </div>
                </div>
                <div class="col-4 m-ops">
                    <form action="" method="POST" enctype="multipart/form-data">
                        <span class="ucret">ÜCRETSİZ DANIŞMA</span>
                        <input type="text" name="name" placeholder="Ad" class="input form-control m-t25">
                        <input type="text" name="surname" placeholder="Soyad" class="input form-control">
                        <input type="email" name="email" placeholder="Email" class="input form-control">
                        <input type="text" name="date-time" placeholder="Vaxt" class="input form-control">
                        <textarea type="description" name="description" placeholder="Melumat" class="input form-control"></textarea>
                        <input type="age" name="age" placeholder="Yaş" class="input form-control">
                        <input type="" name="phone" placeholder="Telefon" class="input form-control">
                        <div class="form-group">
                            <input type="file" class="form-control mt-16" name="file">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success float-right input2">Randevu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="header h-460">
            <div class="col-12">
                <figure class="m-t64">
                    <img src="../static/img/bg_2.jpg" alt="" class="imgbg-2">
                    <h3 class="h-rel">Sağlığınız Önceliğimizdir</h3>
                    <span class="sp-ab">Hayalinizdeki yapıyı yönetebiliriz Yerinden Düden adlı küçük bir nehir akar</span>
                    <button class="ara">Ara</button>
                </figure>
            </div>
        </div>
    </section>
    <section id="Bölüm">
        <div class="header">
            <div class="row">
                <div class="col-4 h-768">
                    <div>
                        <figure class="wh fig-4">
                            <img src="../static/img/dept-1.jpg" alt="" class="img-4">
                        </figure>
                    </div>
                </div>
                <div class="col-8">
                    <div class="whb mb-51">
                        <i class="fas fa-stethoscope ico2"></i>
                        <h3 class="ff-Poppins">Nöroloji</h3>
                        <p class="mwh">Çok uzakta, dağ kelimesinin arkasında</p>
                    </div>
                    <div class="whb mb-51">
                        <i class="fas fa-stethoscope ico2"></i>
                        <h3 class="ff-Poppins">Oftalmoloji</h3>
                        <p class="mwh">Çok uzakta, dağ kelimesinin arkasında</p>
                    </div>
                    <div class="whb mb-51">
                        <i class="fas fa-stethoscope ico2"></i>
                        <h3 class="ff-Poppins">Nükleer Manyetik</h3>
                        <p class="mwh">Çok uzakta, dağ kelimesinin arkasında</p>
                    </div>
                    <div class="whb mt-49">
                        <i class="fas fa-stethoscope ico2"></i>
                        <h3 class="ff-Poppins">Cerrahi</h3>
                        <p class="mwh">Çok uzakta, dağ kelimesinin arkasında</p>
                    </div>
                    <div class="whb mt-49">
                        <i class="fas fa-stethoscope ico2"></i>
                        <h3 class="ff-Poppins">Kardiyoloji</h3>
                        <p class="mwh">Çok uzakta, dağ kelimesinin arkasında</p>
                    </div>
                    <div class="whb mt-49">
                        <i class="fas fa-stethoscope ico2"></i>
                        <h3 class="ff-Poppins">Röntgen</h3>
                        <p class="mwh">Çok uzakta, dağ kelimesinin arkasında</p>
                    </div>
                    <!--    <div class="whb">
                        <i class="fas fa-stethoscope ico2"></i>
                        <h3 class="ff-Poppins">Diş</h3>
                        <p class="mwh">Çok uzakta, dağ kelimesinin arkasında</p>
                    </div>
                    <div class="whb">
                        <i class="fas fa-stethoscope ico2"></i>
                        <h3 class="ff-Poppins">Travmatoloji</h3>
                        <p class="mwh">Çok uzakta, dağ kelimesinin arkasında</p>
                    </div> -->
                    {% for profession in professions%}
                    <div class="whb">
                        <i class="fas fa-stethoscope ico2"></i>
                        <h3 class="ff-Poppins">
                            <td>{{profession.specialty}}</td>
                        </h3>
                        <p class="mwh">
                            <td>{{profession.description}}</td>
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section id="Doktorlar">
        <div class="container">
            <div class="row h-327">
                <div class="col-12">
                    <h2 class="ta-center">Nitelikli Doktorlarımız
                    </h2>
                    <p class="m-auto"> Ayrı yaşarlar. Yerlerinden Düden adlı küçük bir nehir akar ve ona gerekli regelialia sağlar. Paradizmatik bir ülke </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row mt-13">
                <div class="col-3 wh-2 ml-48">
                    <figure class="m-0">
                        <img src="../static/img/doc-1.jpg" alt="" class="img-5">
                        <div class="bgclr">
                            <i class="fab fa-twitter mtl"></i>
                            <i class="fab fa-facebook-f clr"></i>
                            <i class="fab fa-google-plus-g clr"></i>
                            <i class="fab fa-instagram clr"></i>
                        </div>
                    </figure>
                    <h3 class="Lloyd">Dr. Lloyd Wilson</h3>
                    <h5 class="norol">NÖROLOG</h5>
                    <p class="hirs">Hırslı bir işkoliğim ama bunun dışında oldukça basit bir insanım.</p>
                    <a href="{{url_for('randevu')}}"><button class="simdi">Şimdi Rezervasyon Yap</button></a>
                </div>
                <div class="col-3 wh-2 ml-16">
                    <figure class="m-0">
                        <img src="../static/img/doc-2.jpg" alt="" class="img-5">
                        <div class="bgclr">
                            <i class="fab fa-twitter mtl"></i>
                            <i class="fab fa-facebook-f clr"></i>
                            <i class="fab fa-google-plus-g clr"></i>
                            <i class="fab fa-instagram clr"></i>
                        </div>
                    </figure>
                    <h3 class="Lloyd">Dr. Rachel Parker</h3>
                    <h5 class="norol">GÖZ DOKTORU</h5>
                    <p class="hirs">Hırslı bir işkoliğim ama bunun dışında oldukça basit bir insanım.</p>
                    <a href="{{url_for('randevu')}}"><button class="simdi">Şimdi Rezervasyon Yap</button></a>
                </div>
                <div class="col-3 wh-2 ml-17">
                    <figure class="m-0">
                        <img src="../static/img/doc-3.jpg" alt="" class="img-5">
                        <div class="bgclr">
                            <i class="fab fa-twitter mtl"></i>
                            <i class="fab fa-facebook-f clr"></i>
                            <i class="fab fa-google-plus-g clr"></i>
                            <i class="fab fa-instagram clr"></i>
                        </div>
                    </figure>
                    <h3 class="smith">Ian Smith</h3>
                    <h5 class="disd">DİŞ DOKTORU</h5>
                    <p class="hirs">Hırslı bir işkoliğim ama bunun dışında oldukça basit bir insanım.</p>
                    <a href="{{url_for('randevu')}}"><button class="simdi">Şimdi Rezervasyon Yap</button></a>
                </div>
                <div class="col-3 wh-2 ml-16">
                    <figure class="m-0">
                        <img src="../static/img/doc-4.jpg" alt="" class="img-5">
                        <div class="bgclr">
                            <i class="fab fa-twitter mtl"></i>
                            <i class="fab fa-facebook-f clr"></i>
                            <i class="fab fa-google-plus-g clr"></i>
                            <i class="fab fa-instagram clr"></i>
                        </div>
                    </figure>
                    <h3 class="alicia">Dr. Alicia Henderson</h3>
                    <h5 class="cocuk">ÇOCUK DOKTORU</h5>
                    <p class="hirs">Hırslı bir işkoliğim ama bunun dışında oldukça basit bir insanım.</p>
                    <a href="{{url_for('randevu')}}"><button class="simdi">Şimdi Rezervasyon Yap</button></a>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 bgimg-url1">
                    <div class="overlay"></div>
                    <div>
                        <h5 class="eglen">EĞLENCELİ GERÇEKLER</h5>
                        <h2 class="fazla">5.100'den fazla hasta bize güveniyor</h2>
                        <a href="{{url_for('randevu')}}"><button class="randevu-3">Randevu Al</button></a>
                        <h2 class="h30">30</h2>
                        <h2 class="h4500">4500</h2>
                        <h2 class="h84">84</h2>
                        <h2 class="h300">300</h2>
                        <p class="yil">Yılların tecrübesi</p>
                        <p class="mut">Mutlu Hastalar</p>
                        <p class="dok">Doktor Sayısı</p>
                        <p class="person">Personel Sayısı</p>
                        <p class="uzun"></p>
                        <p class="duz"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="Blog">
        <div class="row h-320">
            <h2 class="her">Her Güncellemeyi Buradan Alın</h2>
            <p class="cok">Çok uzakta, dağlar kelimesinin arkasında, Vokalia ve Consonantia ülkelerinden uzakta</p>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div>
                        <figure class="fig-6">
                            <img src="../static/img/image_1.jpg" alt="" class="img-6 ml-121">
                            <img src="../static/img/image_2.jpg" alt="" class="img-6 ml-26">
                            <img src="../static/img/image_3.jpg" alt="" class="img-6 ml-26">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="ml-121 h-325">
                        <p class="nisan">11 NİSAN 2021</p>
                        <p class="yon">YÖNETİCİ</p>
                        <i class="fas fa-comment-alt m-18"></i>
                        <p class="ml-8">3</p>
                        <p class="yeter">Yeterince Uyuyamadığınız Korkunç Şey
                        </p>
                        <p class="uzak">Çok uzakta, dağlar kelimesinin arkasında, Vokalia ve Consonantia ülkelerinden uzakta, kör metinler yaşıyor.</p>
                        <a href="{{url_for('medical')}}"> <button class="devam">Devamını oku</button></a>
                    </div>
                </div>
                <div class="col-4 ml-71">
                    <div class="ml-121">
                        <p class="nisan">11 NİSAN 2021</p>
                        <p class="yon">YÖNETİCİ</p>
                        <i class="fas fa-comment-alt m-18"></i>
                        <p class="ml-8">3</p>
                        <p class="yeter">Yeterince Uyuyamadığınız Korkunç Şey</p>
                        <p class="uzak">Çok uzakta, dağlar kelimesinin arkasında, Vokalia ve Consonantia ülkelerinden uzakta, kör metinler yaşıyor.</p>
                        <a href="{{url_for('medical')}}"> <button class="devam">Devamını oku</button></a>
                    </div>
                </div>
                <div class="col-4 ml-71">
                    <div class="ml-121">
                        <p class="nisan">11 NİSAN 2021</p>
                        <p class="yon">YÖNETİCİ</p>
                        <i class="fas fa-comment-alt m-18"></i>
                        <p class="ml-8">3</p>
                        <p class="yeter">Yeterince Uyuyamadığınız Korkunç Şey</p>
                        <p class="uzak">Çok uzakta, dağlar kelimesinin arkasında, Vokalia ve Consonantia ülkelerinden uzakta, kör metinler yaşıyor.</p>
                        <a href="{{url_for('medical')}}"> <button class="devam">Devamını oku</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div>
                        <figure class="fig-6">
                            <img src="../static/img/image_4.jpg" alt="" class="img-6 ml-121">
                            <img src="../static/img/image_5.jpg" alt="" class="img-6 ml-26">
                            <img src="../static/img/image_6.jpg" alt="" class="img-6 ml-26">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="ml-121 h-480">
                        <p class="nisan">11 NİSAN 2021</p>
                        <p class="yon">YÖNETİCİ</p>
                        <i class="fas fa-comment-alt m-18"></i>
                        <p class="ml-8">3</p>
                        <p class="yeter">Yeterince Uyuyamadığınız Korkunç Şey</p>
                        <p class="uzak">Çok uzakta, dağlar kelimesinin arkasında, Vokalia ve Consonantia ülkelerinden uzakta, kör metinler yaşıyor.</p>
                        <a href="{{url_for('medical')}}"> <button class="devam">Devamını oku</button></a>
                    </div>
                </div>
                <div class="col-4 ml-71">
                    <div class="ml-121">
                        <p class="nisan">11 NİSAN 2021</p>
                        <p class="yon">YÖNETİCİ</p>
                        <i class="fas fa-comment-alt m-18"></i>
                        <p class="ml-8">3</p>
                        <p class="yeter">Yeterince Uyuyamadığınız Korkunç Şey</p>
                        <p class="uzak">Çok uzakta, dağlar kelimesinin arkasında, Vokalia ve Consonantia ülkelerinden uzakta, kör metinler yaşıyor.</p>
                        <a href="{{url_for('medical')}}"> <button class="devam">Devamını oku</button></a>
                    </div>
                </div>
                <div class="col-4 ml-71">
                    <div class="ml-121">
                        <p class="nisan">11 NİSAN 2021</p>
                        <p class="yon">YÖNETİCİ</p>
                        <i class="fas fa-comment-alt m-18"></i>
                        <p class="ml-8">3</p>
                        <p class="yeter">Yeterince Uyuyamadığınız Korkunç Şey</p>
                        <p class="uzak">Çok uzakta, dağlar kelimesinin arkasında, Vokalia ve Consonantia ülkelerinden uzakta, kör metinler yaşıyor.</p>
                        <a href="{{url_for('medical')}}"><button class="devam">Devamını oku</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <section>
        <div class="container">
            <div class="row">
                <div class="col-12 bgimg-url2">
                    <div class="overlay"></div>
                    <div>
                        <p class="gorus">GÖRÜŞLERİ OKUYUN</p>
                        <h2 class="hasta">Hastamız diyor</h2>
                        <div class="fade">
                            <figure>
                                <img src="../static/img/person_1.jpg" alt="" class="img-7">
                                <p class="uzak1">Çok uzakta, dağlar kelimesinin arkasında, Vokalia ve Consonantia ülkelerinden uzakta, kör metinler yaşıyor</p>
                                <p class="jeff1">Jeff Freshman</p>
                                <p class="pati1">Patients</p>
                            </figure>
                        </div>
                        <div class="fade">
                            <figure>
                                <img src="../static/img/person_2.jpg" alt="" class="img-8">
                                <p class="uzak2">Çok uzakta, dağlar kelimesinin arkasında, Vokalia ve Consonantia ülkelerinden uzakta, kör metinler yaşıyor</p>
                                <p class="jeff2">Jeff Freshman</p>
                                <p class="pati2">Patients</p>
                            </figure>
                        </div>
                        <div class="fade">
                            <figure>
                                <img src="../static/img/person_3.jpg" alt="" class="img-9">
                                <p class="uzak3">Çok uzakta, dağlar kelimesinin arkasında, Vokalia ve Consonantia ülkelerinden uzakta, kör metinler yaşıyor</p>
                                <p class="jeff3">Jeff Freshman</p>
                                <p class="pati3">Patients</p>
                            </figure>
                        </div>
                        <a class="prev">&#10094;</a>
                        <a class="next">&#10095;</a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <section id="Iletişim">
        <div class="row">
            <div class="col-12 h-315">
                <h2 class="biz">Bizimle iletişime geçin</h2>
                <p class="dag">Çok uzakta, dağlar kelimesinin arkasında, Vokalia ve Consonantia ülkelerinden uzakta</p>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row h-336">
                <div class="col-12 d-flex">
                    <div class="qutu1">
                        <div class="qutu5">
                            <i class="fas fa-map-marker-alt qutu9"></i>
                            <h3 class="adres">ADRES</h3>
                            <p class="west">198 West 21th Street, Suite 721 New York NY 10016</p>
                        </div>
                    </div>
                    <div class="qutu2">
                        <div class="qutu6">
                            <i class="fas fa-phone-alt qutu10"></i>
                            <h3 class="ilet">İLETİŞİM NUMARASI</h3>
                            <p class="veten">+90 (536)3378127</p>
                        </div>
                    </div>
                    <div class="qutu3">
                        <div class="qutu7">
                            <i class="fab fa-telegram-plane qutu10"></i>
                            <h3 class="emal">EMAİL</h3>
                            <p class="veten"> vetenim2013@mail.ru</p>
                        </div>
                    </div>
                    <div class="qutu4">
                        <div class="qutu8">
                            <i class="fas fa-globe-asia qutu10"></i>
                            <h3 class="inter">İNTERNET SİTESİ</h3>
                            <p class="veten">yoursite.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row ">
                <div class="col-6 h-670">
                    <div class="h-550 mt-15">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3122459.048342211!2d45.51063349091111!3d40.158398996473885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307cd91aa21ddf%3A0xe6c9526b3e83cd08!2sAzerbaijan!5e0!3m2!1sen!2s!4v1618473678883!5m2!1sen!2s"
                            width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
                <div class="col-6 h-670">
                    <div class="h-550">
                        <!-- <form action="#" class="ml-40">
                            <input type="#" id="isim" placeholder="İsim" class="input3 m-t25">
                            <input type="#" id="soy isim" placeholder="Soyad" class="input3">
                            <input type="#" id="isim" placeholder="Konu" class="input3">
                            <input type="#" id="isim" placeholder="İleti" class="input33">
                            <button class="input4">Mesaj Gönder</button>
                        </form> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
</body>

</html>