    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0px;
        width: 100%;
        max-width: 1349px;
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1349px;
    }
    
    .row1 {
        background-color: #207DFF;
        height: 33px;
    }
    
    .c-white {
        color: #FFFFFF;
    }
    
    .c-black {
        color: black;
    }
    
    .h-689 {
        height: 689.5px;
    }
    
    .size {
        padding: 10px 120px;
    }
    
    .size-2 {
        padding: 10px 0;
    }
    
    a {
        text-decoration: none;
    }
    
    .size-3 {
        padding: 10px 144px;
    }
    
    .mr-15 {
        margin-right: 15px;
    }
    
    .ml-60 {
        margin-left: 60;
    }
    
    .ml-45 {
        margin-left: 45px;
    }
    
    .ml-200 {
        margin-left: 200px;
    }
    
    .ml-100 {
        margin-left: 100px;
        margin-top: 25px;
    }
    
    .bg-color {
        background-color: #E3E3E4;
    }
    
    .color-red {
        color: red
    }
    
    .once {
        margin: 0;
        padding: 70px 0 0 0;
        font-size: 55px;
        width: 40%;
        color: black;
    }
    
    .p-absalute {
        position: absolute;
    }
    
    ul {
        list-style: none;
        position: absolute;
    }
    
    .ml-18 {
        margin-left: -18px;
    }
    
    .p-1 {
        padding: 0px 65px;
        cursor: pointer;
    }
    
    .p-2 {
        padding: 21px 0;
        position: relative;
    }
    
    header._active {
        transform: translateY(0);
        transition: all 0.8s ease 0s;
        opacity: 1;
        top: 33px;
    }
    
    nav._active {
        width: 100%;
        opacity: 1;
        transition: all 0.8s ease 0s;
        top: 33px;
    }
    
    nav {
        width: 100%;
        /* transition: all 0.8s ease 0s; */
        position: fixed;
        top: 0;
        left: 0;
        opacity: 1;
        z-index: 1;
    }
    
    .medi {
        margin: 0;
        margin-left: 55px;
        font-size: 24px;
    }
    
    .fs {
        font-size: 16px;
    }
    
    .A1 {
        color: #00002A;
        z-index: 1;
    }
    
    .A1::before {
        content: '';
        position: absolute;
        top: 64%;
        left: 19%;
        right: 78%;
        bottom: 35%;
        background-color: #207DFF;
        transform: scaleX(0);
        transform-origin: 50% 50%;
        transition: all 0.8s ease-out 0s;
        z-index: 1;
    }
    
    .A1:hover::before {
        transform: scale(1);
        transition-timing-function: cubic-bezier(0.5, 1.6, 0.3, 0.6);
    }
    
    .A2 {
        color: #00002A;
        z-index: 1;
    }
    
    .A2::before {
        content: '';
        position: absolute;
        top: 64%;
        left: 26%;
        right: 67%;
        bottom: 35%;
        background-color: #207DFF;
        transform: scaleX(0);
        transform-origin: 50% 50%;
        transition: all 0.8s ease-out 0s;
        z-index: 1;
    }
    
    .A2:hover::before {
        transform: scale(1);
        transition-timing-function: cubic-bezier(0.5, 1.6, 0.3, 0.6);
    }
    
    .A3 {
        color: #00002A;
        z-index: 1;
    }
    
    .A3::before {
        content: '';
        position: absolute;
        top: 64%;
        left: 37%;
        right: 58%;
        bottom: 35%;
        background-color: #207DFF;
        transform: scaleX(0);
        transform-origin: 50% 50%;
        transition: all 0.8s ease-out 0s;
        z-index: 1;
    }
    
    .A3:hover::before {
        transform: scale(1);
        transition-timing-function: cubic-bezier(0.5, 1.6, 0.3, 0.6);
    }
    
    .A4 {
        color: #00002A;
        z-index: 1;
    }
    
    .A4::before {
        content: '';
        position: absolute;
        top: 64%;
        left: 46%;
        right: 47%;
        bottom: 35%;
        background-color: #207DFF;
        transform: scaleX(0);
        transform-origin: 50% 50%;
        transition: all 0.8s ease-out 0s;
        z-index: 1;
    }
    
    .A4:hover::before {
        transform: scale(1);
        transition-timing-function: cubic-bezier(0.5, 1.6, 0.3, 0.6);
    }
    
    .A5 {
        color: #00002A;
        z-index: 1;
    }
    
    .A5::before {
        content: '';
        position: absolute;
        top: 64%;
        left: 57%;
        right: 39%;
        bottom: 35%;
        background-color: #207DFF;
        transform: scaleX(0);
        transform-origin: 50% 50%;
        transition: all 0.8s ease-out 0s;
        z-index: 1;
    }
    
    .A5:hover::before {
        transform: scale(1);
        transition-timing-function: cubic-bezier(0.5, 1.6, 0.3, 0.6);
    }
    
    .A6 {
        color: #00002A;
        z-index: 1;
    }
    
    .A6::before {
        content: '';
        position: absolute;
        top: 64%;
        left: 65%;
        right: 29%;
        bottom: 35%;
        background-color: #207DFF;
        transform: scaleX(0);
        transform-origin: 50% 50%;
        transition: all 0.8s ease-out 0s;
        z-index: 1;
    }
    
    .A6:hover::before {
        transform: scale(1);
        transition-timing-function: cubic-bezier(0.5, 1.6, 0.3, 0.6);
    }
    
    .h-1000 {
        height: 1000px;
    }
    
    .l-height {
        Font-size: 18px;
        Font-weight: 400;
        Line-height: 21.6px;
        background-color: #FE5F55;
        margin-left: 40px;
        color: white;
        border-radius: 8px;
        height: 40px;
        width: 130px;
        cursor: pointer;
        border: none;
        outline: none;
    }
    
    .l-height:hover {
        background-color: #207DFF;
    }
    
    .img-1 {
        height: 100%;
        width: 100%;
        Font-size: 17px;
        Font-weight: 400;
        Line-height: 30.6px;
        object-fit: cover;
    }
    
    .absalute {
        position: absolute;
        top: 150px;
        left: 120px;
    }
    
    .relative {
        position: relative;
    }
    
    .d-block {
        width: 40%;
        display: block;
        color: #836465;
        margin: 35px 0 30px 0;
        font-size: 20px;
    }
    
    .randevu {
        Font-size: 18px;
        Font-weight: 400;
        Line-height: 21.6px;
        background-color: #207DFE;
        color: white;
        border-radius: 35px;
        height: 50px;
        width: 138px;
        cursor: pointer;
        border: none;
        outline: none;
    }
    
    .randevu-2 {
        Font-size: 18px;
        Font-weight: 400;
        Line-height: 21.6px;
        background-color: #E2544C;
        color: white;
        border-radius: 35px;
        height: 50px;
        width: 138px;
        cursor: pointer;
        border: 1px solid #E2544C;
        outline: none;
    }
    
    .randevu-2:hover {
        background-color: white;
        color: #FE5F55;
        transition: all 0.1s ease 0s;
    }
    
    .figure-img {
        width: 100%;
        Font-size: 17px;
        Font-weight: 400;
        Line-height: 30.6px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 115px;
    }
    
    .img-2 {
        width: 445px;
        height: 620px;
        object-fit: cover;
    }
    
    .d-flex {
        display: flex;
    }
    
    .color-1E73EB {
        color: #1E73EB;
        font-size: 30px;
    }
    
    .color-99A5C2 {
        color: #99A5C2;
        display: block;
        width: 55%;
        margin-left: 98px;
        margin-top: 44px;
        Font-size: 17px;
        Font-weight: 400;
        Line-height: 30.6px;
    }
    
    .fs-25 {
        font-size: 44px;
        display: block;
        font-weight: 700;
        width: 55%;
        margin-left: 98px;
        margin-top: 154px;
    }
    
    .sign::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #CF0F0F;
        transform: scaleX(0);
        transform-origin: 0 50%;
        transition: all 0.8s ease-out 0s;
        z-index: -1;
    }
    
    .p-left121 {
        padding-left: 121px;
        padding-top: 130px;
        margin-right: -111px;
    }
    
    .ico {
        Font-size: 50px;
        Font-weight: 400;
        Line-height: 65px;
        color: #FD655C;
        margin-top: 97px;
    }
    
    .hizmet {
        Font-size: 44px;
        Font-weight: 700;
        Line-height: 52.8px;
    }
    
    .color1F1F1F {
        color: #1F1F1F;
        font-weight: 500;
        margin: 90px 25px;
        width: 30%;
        font-size: 25px;
    }
    
    .duden1 {
        width: 37%;
        margin: 127px 0px 0px -160px;
        color: #9999A5;
        line-height: 25.8px;
        font-size: 16px;
    }
    
    .duden2 {
        width: 37%;
        margin: 127px 0px 0px -232px;
        color: #9999A5;
        line-height: 25.8px;
        font-size: 16px;
    }
    
    .duden3 {
        width: 50%;
        margin: 128px 0px 0px -210px;
        color: #9999A5;
        line-height: 25.8px;
        font-size: 16px;
    }
    
    .dis {
        color: #1F1F1F;
        font-weight: 500;
        margin: 87px 25px;
        width: 47%;
        font-size: 25px;
    }
    
    .p-t181 {
        padding-top: 181px;
    }
    
    .nite {
        color: #1F1F1F;
        font-weight: 500;
        margin: 90px 25px;
        width: 56%;
        font-size: 25px;
    }
    
    .ucret {
        color: #207DFF;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
    }
    
    .m-ops {
        margin: 80px 0px 0px 35px;
    }
    
    .m-t25 {
        margin-top: 25px;
    }
    
    .input {
        border-radius: 35px;
        border: 1px solid #D8D8D8;
        padding: 15px 100px 15px 15px;
        margin-top: 16px;
        outline: none;
    }
    
    .bg-F8F9FA {
        background-color: #F8F9FA;
    }
    
    .input2 {
        background-color: #E2544C;
        color: white;
        border-radius: 35px;
        padding: 14px 105px 14px 125px;
        cursor: pointer;
        margin-top: 16px;
        border: 1px solid #D8D8D8;
        outline: none;
        text-align: center;
    }
    
    .input2:hover {
        background-color: white;
        color: #FE5F55;
        transition: all 0.1s ease 0s;
    }
    
    .m-t64 {
        margin-left: 0px;
        margin-top: 64px;
    }
    
    .m-t239 {
        height: 771px;
        margin-top: 239px;
    }
    
    .imgbg-2 {
        height: 460px;
        width: 100%;
        object-fit: cover;
        position: absolute;
    }
    
    .h-460 {
        height: 460px;
    }
    
    .h-rel {
        margin: 0;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        padding-top: 130px;
        font-size: 60px;
        font-weight: 800;
        line-height: 75px;
        color: #FE5F55;
    }
    
    .sp-ab {
        position: absolute;
        color: black;
        padding-left: 30%;
        font-size: 17px;
        font-weight: 400;
        line-height: 30.6px;
    }
    
    .ara {
        background-color: white;
        color: black;
        position: absolute;
        border-radius: 35px;
        border: none;
        width: 160px;
        height: 58px;
        outline: none;
        cursor: pointer;
        margin-left: 45%;
        margin-top: 3%;
    }
    
    .ara:hover {
        background-color: #FE5F55;
        color: white;
    }
    
    .h-768 {
        height: 768px;
    }
    
    .wh {
        width: 449.61px;
        height: 769px;
    }
    
    .fig-4 {
        margin: 0;
    }
    
    .img-4 {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    
    .whb {
        width: 300px;
        height: 257px;
        border: 1px solid #E5E5E5;
        display: inline-block;
        margin-right: -5px;
        text-align: center;
        cursor: pointer;
        background-color: white;
    }
    
    .whb:hover {
        background-color: #207DFF;
        transition: all 1s ease 0s;
    }
    
    .whb:hover .ico2 {
        color: white;
        transition: all 1s ease 0s;
    }
    
    .whb:hover h3 {
        color: white;
        transition: all 1s ease 0s;
    }
    
    .mb-51 {
        margin-bottom: -51px;
        text-align: center;
    }
    
    .mt-49 {
        margin-top: 49px;
    }
    
    .ico2 {
        Font-size: 50px;
        color: #20A5FF;
        margin-top: 30px;
    }
    
    .ff-Poppins {
        font-family: Poppins, Arial, sans-serif;
        Font-size: 24px;
        Font-weight: 400;
        Line-height: 36px;
        margin: 15px auto;
        color: black;
    }
    
    .mwh {
        margin-left: 75px;
        width: 50%;
        height: 40px;
        font-size: 17px;
        font-weight: 400;
        line-height: 1.8;
        color: #999999;
    }
    
    .h-327 {
        height: 327px;
    }
    
    .ta-center {
        text-align: center;
        font-family: Poppins, Arial, sans-serif;
        font-size: 44px;
        font-weight: 700;
        line-height: 52.8px;
        margin-top: 120px;
    }
    
    .m-auto {
        margin: auto;
        text-align: center;
        width: 50%;
        height: 55px;
        font-size: 17px;
        font-weight: 400;
        line-height: 1.8;
        color: #999999;
    }
    
    .wh-2 {
        width: 25%;
        height: 660px;
        position: relative;
    }
    
    .img-5 {
        width: 291px;
        height: 300px;
    }
    
    .bgclr {
        position: absolute;
        background-color: white;
        width: 87%;
        height: 300px;
        margin-top: -304px;
        visibility: none;
        opacity: 0;
        transition: 0.7s;
    }
    
    .bgclr:hover {
        visibility: visible;
        opacity: 0.6;
        height: 270px;
    }
    
    .clr {
        color: red;
        font-size: 17px;
        margin-left: 10px;
        cursor: pointer;
    }
    
    .mtl {
        margin-top: 275px;
        margin-left: 95px;
        color: red;
        font-size: 17px;
        cursor: pointer;
    }
    
    .m-0 {
        margin: 0;
    }
    
    .ml-48 {
        margin-left: 48px;
    }
    
    .ml-16 {
        margin-left: -16px;
    }
    
    .ml-17 {
        margin-left: -17px;
    }
    
    .mt-13 {
        margin-top: 13px;
    }
    
    .Lloyd {
        font-family: Poppins, Arial, sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        margin-left: 45px;
    }
    
    .wh-2:hover .Lloyd {
        color: rgb(32, 125, 255);
    }
    
    .wh-2:hover .smith {
        color: rgb(32, 125, 255);
    }
    
    .wh-2:hover .alicia {
        color: rgb(32, 125, 255);
    }
    
    .smith {
        font-family: Poppins, Arial, sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        margin-left: 90px;
    }
    
    .alicia {
        font-family: Poppins, Arial, sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        margin-left: 30px;
    }
    
    .norol {
        font-family: Poppins, Arial, sans-serif;
        letter-spacing: 3px;
        font-size: 12px;
        font-weight: 600;
        line-height: 21.6px;
        color: rgb(32, 125, 255);
        margin-left: 27%;
    }
    
    .disd {
        font-family: Poppins, Arial, sans-serif;
        letter-spacing: 3px;
        font-size: 12px;
        font-weight: 600;
        line-height: 21.6px;
        color: rgb(32, 125, 255);
        margin-left: 27%;
    }
    
    .cocuk {
        font-family: Poppins, Arial, sans-serif;
        letter-spacing: 3px;
        font-size: 12px;
        font-weight: 600;
        line-height: 21.6px;
        color: rgb(32, 125, 255);
        margin-left: 22%;
    }
    
    .hirs {
        text-align: center;
        width: 70%;
        font-size: 17px;
        font-weight: 400;
        line-height: 1.8;
        color: #999999;
        margin-left: 25px;
    }
    
    .simdi {
        Font-size: 16px;
        Font-weight: 400;
        Line-height: 24px;
        background-color: #207DFE;
        color: white;
        border-radius: 35px;
        height: 39px;
        width: 206px;
        cursor: pointer;
        border: none;
        outline: none;
        margin-left: 12%;
    }
    
    .bgimg-url1 {
        background-image: url(../img/bg_3.jpg);
        height: 600px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 50px;
        position: relative;
    }
    
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        opacity: 0.8;
        background: #207dff;
    }
    
    .eglen {
        position: absolute;
        font-family: Poppins, Arial, sans-serif;
        color: rgba(255, 255, 255, 0.9);
        font-size: 12px;
        font-weight: 600;
        line-height: 21.6px;
        margin-left: 120px;
        margin-top: 161px;
        letter-spacing: 2px;
    }
    
    .fazla {
        position: absolute;
        font-family: Poppins, Arial, sans-serif;
        font-size: 47px;
        font-weight: 700;
        line-height: 52.8px;
        color: rgb(255, 255, 255);
        width: 25%;
        margin-left: 120px;
        margin-top: 205px;
    }
    
    .randevu-3 {
        position: absolute;
        Font-size: 18px;
        Font-weight: 400;
        Line-height: 21.6px;
        background-color: #E2544C;
        color: white;
        border-radius: 35px;
        height: 57px;
        width: 135px;
        cursor: pointer;
        border: 1px solid #E2544C;
        outline: none;
        margin-left: 120px;
        margin-top: 390px;
    }
    
    .randevu-3:hover {
        background-color: #418CF4;
        color: #FE5F55;
        transition: all 0.1s ease 0s;
    }
    
    .h30 {
        margin-top: 165px;
        position: absolute;
        margin-left: 54%;
        font-family: Poppins, Arial, sans-serif;
        font-size: 44px;
        font-weight: 800;
        line-height: 79.2px;
        color: white;
    }
    
    .h4500 {
        margin-top: 165px;
        position: absolute;
        margin-left: 75%;
        font-family: Poppins, Arial, sans-serif;
        font-size: 44px;
        font-weight: 800;
        line-height: 79.2px;
        color: white;
    }
    
    .h84 {
        margin-top: 315px;
        position: absolute;
        margin-left: 54%;
        font-family: Poppins, Arial, sans-serif;
        font-size: 44px;
        font-weight: 800;
        line-height: 79.2px;
        color: white;
    }
    
    .h300 {
        margin-top: 315px;
        position: absolute;
        margin-left: 76%;
        font-family: Poppins, Arial, sans-serif;
        font-size: 44px;
        font-weight: 800;
        line-height: 79.2px;
        color: white;
    }
    
    .yil {
        margin-top: 250px;
        position: absolute;
        margin-left: 51%;
        font-family: Poppins, Arial, sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 28.8px;
        color: rgba(255, 255, 255, 0.8);
    }
    
    .mut {
        margin-top: 250px;
        position: absolute;
        margin-left: 75%;
        font-family: Poppins, Arial, sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 28.8px;
        color: rgba(255, 255, 255, 0.8);
    }
    
    .dok {
        margin-top: 395px;
        position: absolute;
        margin-left: 52%;
        font-family: Poppins, Arial, sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 28.8px;
        color: rgba(255, 255, 255, 0.8);
    }
    
    .person {
        margin-top: 395px;
        position: absolute;
        margin-left: 75%;
        font-family: Poppins, Arial, sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 28.8px;
        color: rgba(255, 255, 255, 0.8);
    }
    
    .uzun {
        border: 1px solid #6094E5;
        width: 48%;
        margin-top: 22%;
        margin-left: 43%;
        position: absolute;
    }
    
    .duz {
        border: 1px solid #6094E5;
        height: 53%;
        margin-top: 11%;
        margin-left: 69%;
        position: absolute;
    }
    
    .h-320 {
        height: 320px;
        display: inline-block;
    }
    
    .her {
        font-family: Poppins, Arial, sans-serif;
        font-size: 44px;
        font-weight: 700;
        line-height: 52.8px;
        color: rgba(0, 0, 0, 0.9);
        margin-top: 135px;
        margin-left: 329px;
    }
    
    .cok {
        font-family: Poppins, Arial, sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 30.6px;
        color: rgb(153, 153, 153);
        text-align: center;
        margin-top: -12px;
    }
    
    .fig-6 {
        height: 265px;
        margin: 0;
        margin-top: 34px;
    }
    
    .img-6 {
        height: 250px;
        width: 349px;
        object-fit: cover;
    }
    
    .h-325 {
        height: 325px;
    }
    
    .h-480 {
        height: 480px;
    }
    
    .ml-121 {
        margin-left: 121px;
    }
    
    .ml-26 {
        margin-left: 26px;
    }
    
    .nisan {
        font-family: Poppins, Arial, sans-serif;
        font-size: 12px;
        font-weight: 500;
        line-height: 21.6px;
        color: #Fd5F55;
        cursor: pointer;
        letter-spacing: 1px;
        display: inline-block;
    }
    
    .nisan:hover {
        color: black;
        transition: all 1s ease 0s;
    }
    
    .m-18 {
        font-family: Poppins, Arial, sans-serif;
        margin-top: 17px;
        margin-left: 8px;
        font-size: 12px;
        font-weight: 500;
        line-height: 21.6px;
        color: #Fd5F55;
        cursor: pointer;
        letter-spacing: 1px;
        display: inline-block;
    }
    
    .m-18:hover {
        color: black;
        transition: all 1s ease 0s;
    }
    
    .yon {
        font-family: Poppins, Arial, sans-serif;
        margin-left: 8px;
        font-size: 12px;
        font-weight: 500;
        line-height: 21.6px;
        color: #FD5F55;
        cursor: pointer;
        letter-spacing: 1px;
        display: inline-block;
    }
    
    .yon:hover {
        color: black;
        transition: all 1s ease 0s;
    }
    
    .ml-8 {
        font-family: Poppins, Arial, sans-serif;
        margin-left: 8px;
        font-size: 12px;
        font-weight: 500;
        line-height: 21.6px;
        color: #Fd5F55;
        cursor: pointer;
        letter-spacing: 1px;
        display: inline-block;
    }
    
    .ml-8:hover {
        color: black;
        transition: all 1s ease 0s;
    }
    
    .ml-71 {
        margin-left: -71px;
    }
    
    .yeter {
        font-family: Poppins, Arial, sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 33px;
        color: black;
        width: 100%;
    }
    
    .yeter:hover {
        transition: all 0.5s ease 0s;
        color: #207DFE;
    }
    
    .uzak {
        font-family: Poppins, Arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 30.6px;
        color: rgb(153, 153, 153);
    }
    
    .devam {
        Font-size: 18px;
        Font-weight: 400;
        Line-height: 21.6px;
        background-color: #207DFE;
        color: white;
        border-radius: 35px;
        height: 40px;
        width: 140px;
        cursor: pointer;
        border: 1px solid #207DFE;
        outline: none;
    }
    
    .bgimg-url2 {
        background-image: url(../img/bg_3.jpg);
        height: 800px;
        background-repeat: no-repeat;
        margin-top: 50px;
        position: relative;
    }
    
    .gorus {
        position: absolute;
        font-size: 12px;
        display: block;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.9);
        letter-spacing: 2px;
        font-weight: 600;
        margin-left: 598px;
        margin-top: 80px;
    }
    
    .hasta {
        position: absolute;
        line-height: 1.2;
        font-size: 44px;
        font-weight: 700;
        color: #fff;
        margin-left: 545px;
        margin-top: 105px;
    }
    
    .img-7 {
        position: absolute;
        object-fit: cover;
        border-radius: 50%;
        width: 130px;
        height: 130px;
        margin-left: 230px;
        margin-top: 225px;
    }
    
    .img-8 {
        position: absolute;
        object-fit: cover;
        border-radius: 50%;
        width: 130px;
        height: 130px;
        margin-top: 225px;
        margin-left: 585px;
    }
    
    .img-9 {
        position: absolute;
        object-fit: cover;
        border-radius: 50%;
        width: 130px;
        height: 130px;
        margin-top: 225px;
        margin-left: 940px;
    }
    
    .uzak1 {
        font-family: Poppins, Arial, sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 30.6px;
        color: #C7DCFA;
        text-align: center;
        position: absolute;
        margin-left: 13%;
        width: 23%;
        margin-top: 29%;
    }
    
    .uzak2 {
        font-family: Poppins, Arial, sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 30.6px;
        color: #C7DCFA;
        text-align: center;
        position: absolute;
        margin-left: 40%;
        width: 23%;
        margin-top: 29%;
    }
    
    .uzak3 {
        font-family: Poppins, Arial, sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 30.6px;
        color: #C7DCFA;
        text-align: center;
        position: absolute;
        margin-left: 66%;
        width: 23%;
        margin-top: 29%;
    }
    
    .jeff1 {
        position: absolute;
        font-family: "Poppins", Arial, sans-serif;
        font-weight: 400;
        color: #fff;
        margin-top: 40%;
        margin-left: 20%;
    }
    
    .jeff2 {
        position: absolute;
        font-family: "Poppins", Arial, sans-serif;
        font-weight: 400;
        color: #fff;
        margin-top: 40%;
        margin-left: 47%;
    }
    
    .jeff3 {
        position: absolute;
        font-family: "Poppins", Arial, sans-serif;
        font-weight: 400;
        color: #fff;
        margin-top: 40%;
        margin-left: 73%;
    }
    
    .pati1 {
        position: absolute;
        font-family: "Poppins", Arial, sans-serif;
        color: #fff;
        margin-top: 42%;
        margin-left: 22%;
        font-size: 12px;
        letter-spacing: 1px;
        font-weight: 500;
        text-transform: uppercase;
    }
    
    .pati2 {
        position: absolute;
        font-family: "Poppins", Arial, sans-serif;
        color: #fff;
        margin-top: 42%;
        margin-left: 49%;
        font-size: 12px;
        letter-spacing: 1px;
        font-weight: 500;
        text-transform: uppercase;
    }
    
    .pati3 {
        position: absolute;
        font-family: "Poppins", Arial, sans-serif;
        color: #fff;
        margin-top: 42%;
        margin-left: 75%;
        font-size: 12px;
        letter-spacing: 1px;
        font-weight: 500;
        text-transform: uppercase;
    }
    
    .h-315 {
        height: 315px;
    }
    
    .h-336 {
        height: 336px;
    }
    
    .biz {
        font-family: "Poppins", Arial, sans-serif;
        line-height: 1.2;
        font-size: 44px;
        font-weight: 700;
        margin-top: 92px;
        margin-left: 32%;
    }
    
    .dag {
        font-family: Poppins, Arial, sans-serif;
        font-size: 17px;
        font-weight: 400;
        margin-left: 28%;
        width: 44%;
        color: rgb(153, 153, 153);
        text-align: center;
    }
    
    .qutu1 {
        width: 225px;
        height: 337px;
        margin-left: 120px;
        background-color: #F8F9FA;
    }
    
    .qutu2 {
        width: 225px;
        height: 337px;
        margin-left: 70px;
        background-color: #F8F9FA;
    }
    
    .qutu3 {
        width: 225px;
        height: 337px;
        margin-left: 70px;
        background-color: #F8F9FA;
    }
    
    .qutu4 {
        width: 225px;
        height: 337px;
        margin-left: 70px;
        background-color: #F8F9FA;
    }
    
    .qutu5 {
        width: 96px;
        height: 96px;
        background-color: white;
        border-radius: 50%;
        margin-left: 65px;
        margin-top: 25px;
    }
    
    .qutu6 {
        width: 96px;
        height: 96px;
        background-color: white;
        border-radius: 50%;
        margin-left: 65px;
        margin-top: 25px;
    }
    
    .qutu7 {
        width: 96px;
        height: 96px;
        background-color: white;
        border-radius: 50%;
        margin-left: 65px;
        margin-top: 25px;
    }
    
    .qutu8 {
        width: 96px;
        height: 96px;
        background-color: white;
        border-radius: 50%;
        margin-left: 65px;
        margin-top: 25px;
    }
    
    .qutu9 {
        font-size: 30px;
        margin-top: 31px;
        margin-left: 36px;
        color: #207DFF;
    }
    
    .qutu10 {
        font-size: 30px;
        margin-top: 33px;
        margin-left: 33px;
        color: #207DFF;
    }
    
    .adres {
        margin-top: 65px;
        margin-left: 17px;
    }
    
    .ilet {
        margin-top: 65px;
        margin-left: 17px;
        width: 204%;
        margin-left: -50px;
    }
    
    .emal {
        margin-top: 65px;
        margin-left: 17px;
    }
    
    .inter {
        margin-top: 65px;
        margin-left: 17px;
        width: 200%;
        margin-left: -30px;
    }
    
    .west {
        font-family: Poppins, Arial, sans-serif;
        font-size: 17px;
        width: 200%;
        font-weight: 400;
        line-height: 30.6px;
        color: rgb(153, 153, 153);
        text-align: center;
        margin-left: -50px;
        padding-top: 10px;
    }
    
    .veten {
        font-family: Poppins, Arial, sans-serif;
        font-size: 17px;
        width: 200%;
        font-weight: 400;
        line-height: 30.6px;
        text-align: center;
        margin-left: -50px;
        padding-top: 10px;
        cursor: pointer;
    }
    
    .h-670 {
        height: 670px;
    }
    
    .mt-15 {
        margin-top: 15px;
        margin-left: 120px;
    }
    
    .h-550 {
        height: 550px;
        background-color: #F8F9FA;
        width: 555px;
    }
    
    .ml-40 {
        margin-left: 40px;
    }
    
    .input3 {
        display: block;
        border: 1px solid #D8D8D8;
        padding: 15px 100px 15px 15px;
        margin-top: 15px;
        outline: none;
        width: 457px;
    }
    
    .input33 {
        display: block;
        border: 1px solid #D8D8D8;
        padding: 15px 100px 15px 15px;
        margin-top: 16px;
        outline: none;
        width: 457px;
        height: 156px;
    }
    
    .input4 {
        background-color: #E2544C;
        color: white;
        border-radius: 35px;
        width: 210px;
        height: 58px;
        cursor: pointer;
        margin-top: 16px;
        border: 1px solid #D8D8D8;
        outline: none;
        text-align: center;
    }
    
    .input4:hover {
        background-color: white;
        border: 1px solid #FE5F55;
        color: #FE5F55;
        transition: all 1s ease 0s;
    }
    
    .bgimg-url3 {
        position: absolute;
        background-image: url(../img/footer-bg.jpg);
        height: 670px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center
    }
    
    .overlay2 {
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        opacity: 0.7;
        background: white;
    }
    
    .west2 {
        font-family: Poppins, Arial, sans-serif;
        font-size: 17px;
        width: 95%;
        font-weight: 400;
        line-height: 30.6px;
        color: rgb(153, 153, 153);
        margin-left: 55px;
        padding-top: 8px;
    }
    
    .bos1 {
        padding: 13px;
        border-radius: 50%;
        background-color: #207DFE;
        position: absolute;
        margin-left: 55px;
        margin-top: 30px;
        cursor: pointer;
    }
    
    .twit {
        position: relative;
        font-size: 22px;
        color: white;
    }
    
    .bos2 {
        padding: 13px;
        border-radius: 50%;
        background-color: #207DFE;
        position: absolute;
        margin-left: 128px;
        margin-top: 30px;
        cursor: pointer;
    }
    
    .face {
        position: relative;
        font-size: 21px;
        color: white;
        margin: 1px 4px;
    }
    
    .bos3 {
        padding: 13px;
        border-radius: 50%;
        background-color: #207DFE;
        position: absolute;
        margin-left: 200px;
        margin-top: 30px;
        cursor: pointer;
    }
    
    .ins {
        position: relative;
        font-size: 22px;
        color: white;
    }
    
    .mt-100 {
        margin-top: 100px;
    }
    
    .mt-130 {
        margin-top: 130px;
    }
    
    .ml-120 {
        margin-left: 120px;
        display: flex;
    }
    
    .disinline {
        display: inline-block;
    }
    
    .nor {
        margin-top: 50px;
        font-size: 16px;
        font-family: "Poppins", Arial, sans-serif;
        line-height: 1.8;
        font-weight: 400;
        color: #207DFF;
        margin-left: 20px;
        cursor: pointer;
    }
    
    .oft {
        font-size: 16px;
        font-family: "Poppins", Arial, sans-serif;
        line-height: 1.8;
        font-weight: 400;
        color: #207DFF;
        margin-left: 20px;
        cursor: pointer;
    }
    
    .nor2 {
        margin-left: -40px;
        margin-top: 20px;
        color: #207DFF;
    }
    
    .oft2 {
        margin-left: -40px;
        margin-top: 26px;
        color: #207DFF;
    }
    
    .mw {
        margin-left: 100px;
        width: 25%;
    }
    
    .ml-55 {
        margin-left: 55px;
    }
    
    .fake {
        font-family: Poppins, Arial, sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 30.6px;
        color: #7A7A7C;
        width: 70%;
        display: block;
        margin-top: -24px;
        margin-left: 45px;
    }
    
    .ml-25 {
        margin-left: 25px;
        color: #207DFF;
    }
    
    .ml-28 {
        margin-left: 28px;
        color: #207DFF;
    }
    
    .c207dff {
        color: #207DFF;
    }
    
    .mt-25 {
        margin-top: 25px;
    }
    
    .mt-60 {
        margin-top: 60px;
    }
    
    .dmm {
        position: absolute;
        display: flex;
        margin-top: 530px;
        margin-left: 375px;
    }
    
    .copy {
        font-family: "Poppins", Arial, sans-serif;
        color: rgba(0, 0, 0, 0.7);
        font-size: 17px;
        line-height: 1.8;
        font-weight: 400;
    }
    
    .ml-3 {
        margin-left: 3px;
        color: #207DFF;
        cursor: pointer;
    }
    
    .ml-3:hover {
        color: white;
    }
    
    .mmm {
        margin-left: 5px;
        margin-top: 18px;
        margin-right: 5px;
    }